
@{
    ViewBag.Title = "Exists";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Группа с таким названием уже существует</h2>
<form action="Groups">
    <button type="submit">Назад</button>
</form>

