
@{
    ViewBag.Title = "LinkNoHttps";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>В данной ссылке нет префикса "https://", пожалуйста, добавьте его и повторите попытку</h2>
<h3>Для возврата к добавлению ссылки используйте кнопку "назад"</h3>

